#body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    border:1px solid red;
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    /*max-width: 900px;
    max-height: 720px;*/
    }

    #marca{
        height: 100px;
        background: #9e9e99;
        text-align: center;
        line-height: 100px;
    }

    #conteudo{
       width: 70%;
        float: right;
    }

    #conteudo-principal{
        width: 60%;
        float: left;
    }

    #conteudo-secundario{
        width: 30%;
        float: right;
        background: #d1d1d1 ;
        padding-left: 20px;
        padding-right: 20px;


    }

    #navegacao{
       width:30%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #d1d1d1;
    }

    
    #rodape{
        clear:both;
        background: #c4c4c4;
        padding: 5px;
    }

    #navegacao ul{
        list-style: none;
    }

    #navegacao li a{
        text-decoration: none;
    }
