body{
	background: #007fc7;

}


	#container{

		background: #fff;
		width: 800px;
		margin: 10px auto;
		padding: 10px;

			}

h1{
	
}


p{
	width: 300px;
}

.relative{
	border: 1px solid red;
	position: relative;
	top: 20px;
	left:80px;
}