/*.conteudo{
	background: red;
	border: 1px solid gray;
	width: 150px;
	height: 150px;
	float: right;
*/

.conteudo1{
	background: blue;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;

/*
}
.conteudo2{
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}

*/
}
.conteudo5{
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	
	
}
.clear{

	clear:both;
	
	
}
#principal{

	border: 5px solid red;
	background:green;
	
	
}